:root{
    --black-color: #000000;
    --light-black-color: #0D0F14;
    --light-blue-color: #161A20;
    --grey-color: #252525;
    --lime-color: #BCFE4C;
    --text-grey-color: #7A7C80;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.row{
    flex-direction: row;
}

.center{
    justify-content: center;
}

.space-evenly{
    justify-content: space-evenly;
}

.space-between{
    justify-content: space-between;
}

body{
    font-family: 'Sawarabi Gothic', sans-serif;
    color: white;
}

header{
    width: 200px;
    height: calc(100vh - 100px);
    background-color: black;
}

main{
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    background-color: var(--light-blue-color);
    overflow-y: scroll;
}

main section.upgrade{
    height: 90px;
    width: 100%;
    background-color: var(--light-black-color);
}

nav ul>li{
    padding: .5rem;
    font-size: 1rem;
    list-style-type: none;
    color: var(--text-grey-color);
}

div.main-container{
    width: 100%;
    padding: 10px;
}

div.album{
    width: calc(100% / 6 - 20px);
    height: 250px;
    margin: 10px;
    background-color: blueviolet;
    text-align: center;
}

div.title{
    padding: 30px 10px;
}

div.title-played h1{
    font-size: 1.8rem;
}

img{
    width: 100%;
}

section.suggested{
    margin-top: 60px;
}

div.album-sugg{
    width: 250px;
    height: 250px;
    margin: 10px;
    background-color: blueviolet;
    text-align: center;
}

div.album-sugg img




footer{
    width: 100%;
    height: 100px;
    background-color: var(--grey-color);
}

/** REXPONSIVE */

/*? MEDIUM */
@media screen and (max-width:1250px) {

    section.played div.album{
        width: calc(100% / 4 - 20px);
    }    
}



/*! SMALL */
@media screen and (max-width:700px){

    section.played div.album{
        width: calc(100% / 2 - 20px);
        height: 150px;
        }    
}


/*? EXTRA-SMALL */
@media screen and (max-width:570px){

    header{
        width: 50px;
    }

    main{
        width: calc(100% - 50px);
        
    }

    section.played{
        flex-wrap: wrap;
    }

    div.album-sugg{
        width: calc(100% / 2 - 20px);
        height: 250px;
        margin: 10px;
        background-color: blueviolet;
        text-align: center;
    }


}