:root{
    --black-color: #000000;
    --light-black-color: #0D0F14;
    --light-blue-color: #161A20;
    --grey-color: #252525;
    --lime-color: #BCFE4C;
    --text-grey-color: #7A7C80;
    --text-white-color: white;
    --slicer-bar0color: #525252;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.relative{
    position: relative;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-around{
    justify-content: space-around;
}

.align-center{
    align-items: center;
}

.flex-end{
    justify-content: flex-end;
}

.space-between{
    justify-content: space-between;
}
/*? GENERAL SETTINGS -----------------------------------*/
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
    min-width: 370px;
}

header{
    width: 225px;
    height: calc(100vh - 90px);
    background-color: black;
    color:var(--text-grey-color);
    padding: 1.5rem 1.5rem 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
}

main{
    width: calc(100% - 225px);
    height: calc(100vh - 90px);
    background-color: var(--light-blue-color);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/*? Section Upgrade -----------------------------------*/
section.upgrade{
    height: 100px;
    width: 100%;
    background-color: var(--light-black-color);
}

section.upgrade #upgrade-button{
    margin-right: 20px;
    border-radius:28px;
    cursor:pointer;
    background-color: var(--light-black-color);
    font-size: .9rem;
    font-weight: bold;
    padding:10px 40px;
    text-transform: uppercase;
    text-decoration:none;
    color: white;
    border: 1px solid #1ED760;
    transition: 0.1s ease-in;
}

section.upgrade input:hover{
    transform: scale(1.05);
    border-color: #1ED760:

}

/*? Header content ----------------------------------*/

section.header-top h3{
    margin-top: 2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

section.header-top h3,
section.header-bottom hr + p
{
    color: var(--text-white-color);

}

h3 + a>i{
    margin-right: .5rem;
    margin-bottom: .5rem;
    font-size: 2.5rem;
    vertical-align: middle;
}

img.logo-big{
    width: 80%;
}

img.logo-small{
    width: 100%;
    margin-bottom: 1rem;
}

img.icon.small{
    width: 2rem;
}

.xs-view{
    display: none;
}

ul.standard-view{
    margin-top: 30px;
}

ul.standard-view >li{
    margin-bottom: .4rem;
}

ul>li{
    list-style-type: none;
}


div.green-bar-vertical{
    position: relative;
    left: -25px;
    top:-15px;
    opacity: 0;
    height: 4px;
    width: 25px;
    background-color: var(--lime-color);
    transform: rotate(90deg);
    transition: .1s;
}

section.header-top ul>li:hover div.green-bar-vertical,
div.green-bar-horizontal{
    opacity: 1;
}

.icon{
    width: 10%;
    vertical-align: middle;
}

section.header-top ul img{
    width: 15%;
    vertical-align: middle;
}

section.playlist{
    margin-bottom: 8rem;
}

section.playlist ul>li{
    margin-top: 1rem;
}

hr{
    margin: .4rem 0 .4rem 0;
}

section.header-bottom hr + p{
    font-weight: bold;
}


/*? Navigational bar ----------------------------------*/

a{
    text-decoration: none;
    color: var(--text-grey-color);
    font-weight: bold;
}

a:hover{
    color: var(--text-white-color);
}

nav ul>li{
    padding: .8rem;
    list-style-type: none;
    text-transform: uppercase;
}

div.green-bar-horizontal{
    height: 2px;
    width: 40px;
    opacity: 0;
    margin: 0 auto;
    background-color: var(--lime-color);
    transition: .1s;
}

nav ul>li:hover div.green-bar-horizontal{
    opacity: 1;
}


/*? Container settings --------------------------------*/

div.main-container{
    width: 100%;
    padding: 15px;
}

/*? Section Played ------------------------------------*/

figure.album{
    width: calc(100% / 6 - 10px);
    margin-top: 20px;
    text-align: center;
}

/*? Title settings ------------------------------------*/

div.title{
    padding: 30px 10px;
}

h1{
    font-size: 1.8rem;
    font-weight: bold;
}

h4{
    color: var(--text-grey-color);
    margin: 1rem 0;
}

/*? Figure / Figcaption settings ----------------------*/

figure{
    margin-right: 10px;
}

figure div.container-overlay{
    width: 100%;
    position: relative;
}

figure div.container-overlay img{
    opacity: 1;
    transition: .3s ease-in-out;
}

div.container-overlay:hover img{
    opacity: 0.4;
}

div.overlay-button button{
    cursor: pointer;
    background-color: #00000000;
    border: 0px;
    color: var(--text-white-color);
}

div.overlay-button i{
    font-size: 70px;
}

div.container-overlay div.overlay-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    opacity: 0;
    transition: .3s ease-in-out;
}

div.container-overlay:hover div.overlay-button{
    opacity: 1;
}

figure img{
    width: 95%;
}

figcaption p,
span{
    font-weight: bold;
}

figcaption p{
    margin-bottom: .3rem;
}

figcaption span{
    font-size: .8rem;
    color: var(--text-grey-color);
}

section.suggested{
    margin-top: 50px;
}



/*? Section popular -----------------------------------*/

figure.album-sugg,
.album-popular{
    width: calc(100% / 6 - 10px );
    text-align: center;
}

figure.album-popular{
    overflow: hidden;
}

figure.album-popular img{
    border-radius: 50%;
}

/*? Footer --------------------------------------------*/
footer{
    width: 100%;
    padding: 1rem 1rem;
    height: 90px;
    background-color: var(--grey-color);
    display: flex;
    justify-content: space-between;

}
div.right-content{
    height: 100%;
}

section.footer-left div.img-content img {
    height: 65px;
}

section.footer-left{
    flex-basis: 20%;
}

section.footer-left div.img-content{
    margin-right: 1rem;
}

section.footer-left div.info-song{
    margin-right: 1.3rem;
    padding: 5px;
}

div.info-song{
}

div.info-song p:first-child{
    font-size: 1rem;
    font-weight: bold;
}

div.info-song p:last-child{
    font-size: .7rem;

}

section.footer-left div.like-icon{
    padding-top: 15px;
}

div.like-icon i{
margin-right: 15px;
}

div.like-icon .fa-heart:hover{
    color: #1ED760;
}

div.like-icon .fa-folder:hover{
    color: #1ED760; 
}

section.footer-center{
    flex-basis: 60%;
}

section.footer-right{
    flex-basis: 20%;
}

section.footer-center div.buttons-player ul>li{
    display: inline-block;
    margin: 0 2rem;
    font-size: 1.4rem;
}

section.footer-center div.buttons-player ul>li:nth-child(3){
    font-size: 2rem;
}

section.footer-center div.buttons-player{
    margin-bottom: 10px;
}

section.footer-center div.slicer{
    height: 5px;
    width: 600px;
    background-color: var(--slicer-bar0color);
}

section.footer-center span{
    font-size: .6rem;
    margin: 0 1rem;
}

div.slicer-song div.progress{
    height: 5px;
    width: 200px;
    background-color: var(--text-white-color);
}


/**----------- REXPONSIVE -----------*/

/*? MEDIUM */
@media screen and (max-width:1250px) {

    figure img{
        width: 95%;
    }

    div.overlay-button i{
        font-size: 50px;
    }


    figure.album{
        width: calc(100% / 4 - 10px );
    }    

    figure.album-sugg{
        width: calc(100% / 4 - 10px );
        text-align: center;
    }

    figure.album-popular{
        width: calc(100% / 4 - 10px );
        text-align: center;
    }
}

/*? SMALL */
@media screen and (max-width:900px){
    header{
        align-items: center;
    }

    section.header-bottom img{
        width: 20px;
    }

    figure img{
        width: 100%;
    }

    div.overlay-button i{
        font-size: 70px;
    }

    figure.album{
        width: calc(100% / 2 - 10px );
        }    

    figure.album-sugg{
        width: calc(100% / 2 - 10px);
    }

    figure.album-popular{
        width: calc(100% / 2 - 10px );
    }
    
    ul.xs-view>li{
        margin-bottom: 10px;
    }
    

}

/*? EXTRA-SMALL */
@media screen and (max-width:575px){

    header{
        width: 50px;
        padding: .5rem;
    }

    main{
        width: calc(100% - 50px);
        
    }

    section.played{
        flex-wrap: wrap;
    }

    .standard-view{
        display: none;
    }

    .xs-view{
        display: block;
    }

    hr{
        margin: .4rem 0 .4rem 0 ;
    }

}