:root{
    --black-color: #000000;
    --light-black-color: #0D0F14;
    --light-blue-color: #161A20;
    --grey-color: #252525;
    --lime-color: #BCFE4C;
    --text-grey-color: #7A7C80;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.flex-end{
    justify-content: flex-end;
}

body{
    font-family: 'Sawarabi Gothic', sans-serif;
    color: white;
}

header{
    width: 200px;
    height: calc(100vh - 70px);
    background-color: black;
}

main{
    width: calc(100% - 200px);
    height: calc(100vh - 70px);
    background-color: var(--light-blue-color);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/*? Section Upgrade -----------------------------------*/
main section.upgrade{
    height: 100px;
    width: 100%;
    background-color: var(--light-black-color);
}

section.upgrade #upgrade-button{
    margin-right: 10px;
    border-radius:28px;
    cursor:pointer;
    background-color: var(--light-black-color);
    font-size: .9rem;
    font-weight: bold;
    padding:10px 40px;
    text-transform: uppercase;
    text-decoration:none;
    color: white;
}

/*? Navigational bar ----------------------------------*/
nav ul a{
    text-decoration: none;
    color: var(--text-grey-color);
}

nav ul>li{
    padding: .8rem;
    font-size: .9rem;
    list-style-type: none;
    text-transform: uppercase;
}
/*? Container settings --------------------------------*/

div.main-container{
    width: 100%;
    padding: 15px;
}

div.small-container{
    width: 430px;
    background-color: rgba(255, 0, 0, 0.171);
}
/*? Section Played ------------------------------------*/

figure.album{
    width: calc(100% / 6 );
    margin-top: 20px;
    text-align: center;
}

/*? Figcaption settings -------------------------------*/

div.title{
    padding: 30px 10px;
}

h1{
    font-size: 1.8rem;
}

figure img{
    width: 90%;
}


figure p,
figcaption span{
    font-weight: 900;
}

div.title-suggested span
,figcaption p:last-child{
    font-weight: 900;
    color: var(--text-grey-color);
}


/*? Section popular -----------------------------------*/
section.suggested{
    margin-top: 50px;
}

figure.album-sugg,
.album-popular{
    width: calc(100% / 6 );
    text-align: center;
}

figure.album-popular{
    overflow: hidden;
}

figure.album-popular img{
    border-radius: 50%;
}


/*? Footer --------------------------------------------*/
footer{
    width: 100%;
    height: 70px;
    background-color: var(--grey-color);
}

/**------------------- REXPONSIVE --------------------*/

/*? MEDIUM */
@media screen and (max-width:1250px) {

    figure.album{
        width: calc(100% / 4 );
    }    

    figure.album-sugg{
        width: calc(100% / 4 );
        text-align: center;
    }

    figure.album-popular{
        width: calc(100% / 4 );
        text-align: center;
    }
}

/*? SMALL */
@media screen and (max-width:900px){

    figure.album{
        width: calc(100% / 2 );
        }    

    figure.album-sugg{
        width: calc(100% / 2 );
    }

    figure.album-popular{
        width: calc(100% / 2 );
    }

}

/*? EXTRA-SMALL */
@media screen and (max-width:575px){

    header{
        width: 50px;
    }

    main{
        width: calc(100% - 50px);
        
    }

    section.played{
        flex-wrap: wrap;
    }

}